<app-slider [nombre]="'Pagina de Peliculas'" [size]="'small'"></app-slider>

<div class="center">
    <section id="content">
        <div class="favorita" *ngIf="favorita">
            <h2>Pelicula Favorita</h2>
            <h4>{{favorita.title | uppercase}}</h4>
            <h4>{{favorita.year | espar}}</h4>
            <h4>{{fecha | date: 'fullDate'}}</h4>
        </div>
        <!--  <h1 class="subheader">Peliculas</h1>
        <h2>{{titulo}}</h2>
        <button (click)="cambiarTitulo()">Pulsame</button>
        <hr>

        <h2>Mostrar Primera Pelicula</h2>
        {{peliculas[0].title}}

        <hr>

        <h2>Numero de Peliculas</h2>
        <div *ngIf="peliculas.length == 3">
            Hay Pocas peliculas
        </div>
        <div *ngIf="peliculas.length > 3">
            Hay muchas peliculas
        </div>
        {{peliculas.length}}

        <hr> -->
        <h2 class="subheader">Listado de Peliculas</h2>
        <div id="articles" *ngIf="peliculas">
            <div *ngFor="let pelicula of peliculas; let i = index">
                <app-pelicula [pelicula]="pelicula" (marcarFavorita)="mostrarFavorita($event)"></app-pelicula>
            </div>
        </div>

    </section>
    <app-sidebar></app-sidebar>
</div>