<header id="header">
    <div id="center" class="center">
        <!--LOGO--->
        <div id="logo">
            <img src="../../../assets/images/angular.svg" class="logo-app" alt="logo">
            <span id="brand"><strong>Curso</strong>Angular</span>
        </div>
        <!--MENU--->
        <nav id="menu">
            <ul>
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a>
                </li>
                <li>
                    <a [routerLink]="['/formulario']" [routerLinkActive]="['active']">Formulario</a>
                </li>
                <li>
                    <a [routerLink]="['/peliculas']" [routerLinkActive]="['active']">Peliculas</a>
                </li>
                <li>
                    <a [routerLink]="['/pagina-de-pruebas']" [routerLinkActive]="['active']">Pruebas</a>
                </li>
            </ul>
        </nav>
    </div>
</header>