<div id="slider" [ngClass]="{'slider-big': size == 'big', 'slider-small': size == 'small'}">
    <h1>{{nombre}}</h1>
    <a [routerLink]="['/blog']" class="btn-slider" *ngIf="!size || size == 'big'">Ir al blog</a>
</div>