
<app-slider [nombre]="'Frameworks de JavaScript'"></app-slider>

<div class="center">
    <section id="content">
        <h2 class="subheader">{{title}}</h2>
    </section>
    <app-sidebar></app-sidebar>
</div>