body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

#header {
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 3px solid #dd0031;
    display: flex;
    align-items: center;
}
/* #center {
    display: flex;
    justify-content: space-between;
} */
.center {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 30%;
    font-size: 30px;
    display: flex;
    align-items: center;
}

#logo img {
    height: 60px;
    animation: latir infinite 2s linear;
}

@keyframes latir {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.02, 1.02);
    }

    60% {
        transform: scale(0.95, 0.95);
    }

    100% {
        transform: scale(1, 1);
    }
}

#brand {
    margin: 0px;
}

#menu {
    width: 40%;
}

#menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#menu a {
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}

#menu a:hover {
    color: #dd0031;
    transition: 300ms all;
}
.active{
    color: #dd0031 !important;
}

#slider {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-shadow: 0px 0px 5px #444;

    background: rgba(248,80,50,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 46%, rgba(240,47,23,1) 78%, rgba(221,0,49,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(248,80,50,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(46%, rgba(246,41,12,1)), color-stop(78%, rgba(240,47,23,1)), color-stop(100%, rgba(221,0,49,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 46%, rgba(240,47,23,1) 78%, rgba(221,0,49,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 46%, rgba(240,47,23,1) 78%, rgba(221,0,49,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 46%, rgba(240,47,23,1) 78%, rgba(221,0,49,1) 100%);
    background: radial-gradient(ellipse at center, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 46%, rgba(240,47,23,1) 78%, rgba(221,0,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#dd0031', GradientType=1 );
}

#slider h1 {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.btn-slider {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    color: #616060;
    padding: 10px 15px;
    margin-top: 20px;
    text-shadow: none;
    font-size: 15px;
    box-shadow: 0px 0px 5px #616060;
    border-radius: 4px;
    transition: 300ms all;
}

.btn-slider:hover {
    background-color: #616060;
    color: #fff;
}

.slider-small {
    height: 150px!important;
}

#content {
    width: 70%;
    min-height: 650px;
}

.sidebar-item{
    background: #f7f7f7;
    padding: 1.2rem;
    margin-top: 1.5rem;
    padding-bottom: 2rem;
}

.sidebar-item h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    border-bottom: 3px solid #ece9e9;
    padding-bottom: 10px;
    margin-bottom: 20px;
}


.btn {
    background: #000;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}

.btn-succes {
    background: #019601;
}

.btn-succes:hover {
    background: #000;
}

.btn-search {
    margin-top: 20px;
}

.mid-form {
    width: 60%;;
    margin: 0px auto;
}

.mid-form .form-group {
    text-align: left;
    margin-bottom: 12px;
}

.mid-form .form-group label {
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 17px;
}

input[type="text"], textarea {
    width: 100%;
    border: 1px solid #ccc;
    min-height: 30px;
    transition: 300ms all;
}

textarea {
    max-width: 100%;
    max-height: 300px;
    min-width: 100%;
    min-height: 150px;
}

.radio-buttons{
    margin: 15px 0;

}

input[type="text"]:focus, textarea:focus {
    box-shadow: 0px 0px 1.2px #474747 inset;
    outline: none;
}

#footer {
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
    border-top: 1px solid #f3f0f0;
}

.article-item {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    text-align: left;
}

.article-item .image-wrap {
    width: 130px;
    height: 130px;
    overflow: hidden;
    margin-right: 1rem;
    border: 1px solid #ccc;
}

.article-item .image-wrap img{
    height: 100%;
    text-align: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.card-content h2 {
    margin: 0 0 7px 0;
    padding: 0px;
}

.card-content .date {
    margin-bottom: 5px;
    color: #727171;
}
.card-content .year {
    width: 60px;
    text-align: center;
}

.year-green {
    color: white;
    background-color: green;
    padding: 5px;
    text-align: center;
}

.year-red {
    color: white;
    background-color: red;
    padding: 5px;
    text-align: center;
}

.card-content a {
    text-decoration: none;
    color: #444;
    font-size: 15px;
}

.card-content a:hover {
    text-decoration: underline;
}

.subheader {
    font-size: 2rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.article-detail .image-wrap {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 20px 0 0 0;
    text-align: left;
    border: none;
}

.article-detail .image-wrap img {
    height: auto;
    width: 100%;;
}

.article-detail h1 {
    text-align: left;
}

.card-content1 {
    width: 100%;
    text-align: left;
}

.card-content1 .subheader {
    border: none;
    margin: 10px 0;
    padding: 0px;
}

.card-content1 p {
    margin: 0 0 16px 0;
}

.boton-pelicula {
    width: 200px;
    margin-top: 10px;
}

/*****RESPONSIVE*****/
@media (max-width: 1100px) {
    #center {
        width: 95%;
    }

    #menu ul {
        width: auto;
        padding-left: 0px;
    }
}

@media (max-width: 768px) {
    #center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #center #menu {
        width: 60%;
    }

    .center{
        margin: 0px;
        /* display: inline-block; */
        flex-direction: column;
        width: 100%;
    }

    #content {
        width: 100%;
    }

    #content #articles {
        width: 100%;
    }

    #sidebar {
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-around;
    }  
}

@media(max-width: 575px) {
    #center {
        width: 100%;
    }

    #center #logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #center #menu {
        width: 95%;
    }

    #sidebar {
        flex-direction: column;
    }
}

