<article class="article-item">
    <div class="image-wrap">
        <img src="{{pelicula.image}}" alt="{{pelicula.title}}">
    </div>
    <div class="card-content">
        <h2>{{pelicula.title}}</h2>
        <span class="date">
            Hace 5 minutos
        </span>
        <span class="year" [ngClass]="{
            'year-green': pelicula.year > 2016,
            'year-red': pelicula.year <= 2016
        }">
            {{pelicula.year}}
        </span>
        <a href="#">Leer más</a>
        <button class="boton-pelicula" (click)="seleccionar($event, pelicula)">Selecciona Como Favorita</button>
    </div>
</article>