<app-slider [nombre]="'Pagina'"></app-slider>

<div class="center">
    <section id="content">
        <h1 class="subheader">Pagina de Pruebas</h1>
        <div *ngIf="nombre && apellido; then siHayparametros; else noHayparametros"></div>

        <ng-template #siHayparametros>
            <h2>El nombre es: {{nombre}}</h2>
            <h2>El apellido es: {{apellido}}</h2>
        </ng-template>

        <ng-template #noHayparametros>
            <h2>No hay parametros que mostrar por la URL</h2>
        </ng-template>

        <button (click)="redireccion()">Ponme Nombre y Apellido</button>
    </section>
    <app-sidebar></app-sidebar>
</div>