<app-slider [nombre]="'Formulario'" [size]="'small'"></app-slider>

<div class="center">
    <section id="content">
        <h1 class="subheader">Formularios</h1>
    </section>
    <app-sidebar></app-sidebar>
</div>




