<app-slider [nombre]="'Blog'" [size]="'small'"></app-slider>

<div class="center">
    <section id="content">
        <h1 class="subheader">Blog</h1>
    </section>
    <app-sidebar></app-sidebar>
</div>